<template>
  <div style="width: 950px; margin: auto;">
    <el-table :data="tabla" style="width: 100%" max-height="250">
      <el-table-column fixed prop="descripcion" label="Descripcion" width="300" />
      <el-table-column prop="nota" label="Nota" width="350" />
      <el-table-column fixed="right" label="Operaciones" width="120">
        <template slot-scope="scope">
          <el-button
            type="text"
            size="small"
            @click.native.prevent="irAlLink(scope.row, tabla)"
          >Ver mas</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="Entrevista" :visible.sync="hacer_entrevista" top="5vh" width="85%">
      <el-row>
        <el-col :span="11">
          <div class="grid-content">
            <el-table height="250" :data="tabla_pearson" border fit highlight-current-row style="width: 100%">
              <el-table-column prop="carrera" label="Carreras CIPSA" />
            </el-table>
          </div>
        </el-col>
        <el-col :offset="1" :span="11">
          <div class="grid-content">
            <el-table height="250" :data="tabla_cipsa" border fit highlight-current-row style="width: 100%">
              <el-table-column prop="carrera" label="Carreras PEARSON" />
            </el-table>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <div class="grid-content">
            <br><br>
            Observación
            <el-input v-model="detalle_entrevista.observacion" type="textarea" disabled :autosize="{ minRows: 5, maxRows: 6}" placeholder="Ingrese observación" />
          </div>
          <br><br>
          Confirmar la recomendación
          <el-switch v-model="confirmacion" :disabled="detalle_entrevista.confirmacion=='CONFIRMADO'" />
        </el-col>
        <el-col :offset="1" :span="11">
          <div class="grid-content">
            <br><br>
            Selección de carrera
            <el-input v-model="detalle_entrevista.carrera_seleccionada" disabled type="input" placeholder="Ingrese carrera seleccionada" />
            <br><br>
            Universidad
            <el-input v-model="detalle_entrevista.universidad" type="input" disabled placeholder="Ingrese universidad" />
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="hacer_entrevista = false">Cancel</el-button>
        <el-button :disabled="detalle_entrevista.confirmacion=='CONFIRMADO'" type="primary" @click="guardar_entrevista">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { getNotificaciones } from '@/api/estudiante';
import { getAllCarreras } from '@/api/estudiante';
import {
  saveConfirmarEntrevista,
} from '@/api/entrevista';
export default {
  name: 'DashboardEstudiante',
  data() {
    return {
      tabla: [],
      tabla_pearson: [],
      tabla_cipsa: [],
      hacer_entrevista: false,
      id_alumno: 0,
      detalle_entrevista: {},
      confirmacion: false,
    };
  },
  created() {
    this.getNotificiones();
  },
  methods: {
    guardar_entrevista(){
      this.$confirm(
        '¿Está seguro que desea confirmar la entrevista?',
        'Confirmar',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancelar',
          type: 'info',
        }
      )
        .then(() => {
          if (this.confirmacion) {
            saveConfirmarEntrevista(this.detalle_entrevista).then((response) => {
              console.log(response);
            });
            this.getNotificiones();
            this.$message({
              type: 'success',
              message: 'Se guardo con éxito',
            });
          } else {
            this.$message({
              type: 'error',
              message: 'Debe confirmar para guardar',
            });
          }
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Se cancelo',
          });
        });
      this.hacer_entrevista = false;
    },
    async getNotificiones() {
      var notificaciones;
      try {
        notificaciones = await getNotificaciones({});
      } catch (error) {
        console.log(error);
      }
      this.tabla = notificaciones.tabla;
      this.id_alumno = notificaciones.id_alumno;
      console.log(notificaciones.entrevista.confirmacion === 'CONFIRMADO', '11111111');
      if (notificaciones.entrevista.confirmacion === 'CONFIRMADO') {
        this.confirmacion = true;
      } else {
        this.confirmacion = false;
      }
      this.detalle_entrevista = {
        id_entrevista: notificaciones.entrevista.id,
        observacion: notificaciones.entrevista.observacion,
        carrera_seleccionada: notificaciones.entrevista.carrera_seleccionada,
        universidad: notificaciones.entrevista.universidad,
        estado: notificaciones.entrevista.estado,
        confirmacion: notificaciones.entrevista.confirmacion,
      };
    },
    irAlLink(tipo, tabla) {
      console.log(tipo.tipo);
      if (tipo.tipo === 'pearson') {
        this.$router.push({ path: '/test/pearson' });
      }
      if (tipo.tipo === 'cipsa') {
        this.$router.push({ path: '/test/index' });
      }
      if (tipo.tipo === 'notificacion'){
        console.log('notiiii');
        this.hacer_entrevista = true;
        getAllCarreras(this.id_alumno).then(response => {
          console.log(response);
          this.tabla_pearson = response.pearson;
          this.tabla_cipsa = response.cipsa;
        });
      }
    },
  },
};
</script>
