<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="listQuery.title"
        :placeholder="$t('table.periodo')"
        style="width: 200px;"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-select
        v-model="listQuery.sort"
        style="width: 140px"
        class="filter-item"
        @change="handleFilter"
      >
        <el-option
          v-for="item in sortOptions"
          :key="item.key"
          :label="item.label"
          :value="item.key"
        />
      </el-select>
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >{{ $t('table.search') }}</el-button>
      <el-button
        class="filter-item"
        style="margin-left: 10px;"
        type="primary"
        icon="el-icon-edit"
        @click="handleCreate"
      >{{ $t('table.add') }}</el-button>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column
        :label="$t('table.id')"
        sortable="custom"
        align="center"
        width="80"
        type="index"
      >
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Periodo'" min-width="150px">
        <template slot-scope="{row}">
          <span>{{ row.periodo_letra }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Jornada'" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <el-tag :type="row.status | statusFilter">{{ row.jornada }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column :label="'Estado'" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <el-tag :type="row.status | statusFilter">{{ row.estado }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('table.actions')"
        align="center"
        width="350"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="{row}">
          <el-button type="primary" size="mini" @click="handleUpdate(row)">{{ $t('table.edit') }}</el-button>
          <el-button
            type="success"
            size="small"
            @click="handleFetchPv(row)"
          >{{ $t('table.generar_alumnos') }}</el-button>
          <el-button
            type="warning"
            size="small"
            @click="generarEntrevista(row)"
          >{{ $t('table.generar_entrevista') }}</el-button>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('table.actions')"
        align="center"
        width="350"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="{row}">
          <el-button
            type="success"
            size="small"
            @click="generarTest(row, 'cipsa')"
          >Generar Cipsa</el-button>
          <el-button
            type="warning"
            size="small"
            @click="generarTest(row, 'pearson')"
          >Generar Pearson</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="getList"
    />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form
        ref="dataForm"
        :rules="rules"
        :model="temp"
        label-position="left"
        label-width="100px"
        style="width: 400px; margin-left:50px;"
      >
        <el-form-item v-if="dialogStatus==='create'" :label="'Periodo'" prop="periodo_letra">
          <el-input v-model="temp.periodo_letra" />
        </el-form-item>
        <el-form-item v-if="dialogStatus==='create'" :label="'Joranada'" prop="jornada">
          <el-select v-model="temp.jornada" class="filter-item" placeholder="Please select">
            <el-option
              v-for="item in jornada"
              :key="item.key"
              :label="item.display_name"
              :value="item.key"
            />
          </el-select>
        </el-form-item>
        <el-form-item v-if="dialogStatus==='update'" :label="'Estado'" prop="estado">
          <el-select v-model="temp.estado" class="filter-item" placeholder="Please select">
            <el-option
              v-for="item in estado"
              :key="item.key"
              :label="item.display_name"
              :value="item.key"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">{{ $t('table.cancel') }}</el-button>
        <el-button
          type="primary"
          @click="dialogStatus==='create'?createData():updateData()"
        >{{ $t('table.confirm') }}</el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Alumnos">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%" height="500">
        <el-table-column prop="cod_alumno" label="Codigo Alumno" />
        <el-table-column prop="email" label="Email" />
        <el-table-column prop="primer_nombre" label="Nombre" />
        <el-table-column prop="primer_apellido" label="Apellido" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">{{ $t('table.confirm') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
/* import { alumnosPeriodo } from '@/api/article'; */
import {
  fetchListPeriodo,
  createPeriodo,
  updatePeriodo,
  alumnosPeriodo,
  generarEntrevista,
  generarTest,
} from '@/api/periodo';
import waves from '@/directive/waves'; // Waves directive
import { parseTime } from '@/utils';
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination

const estado = [
  { key: 'ACTIVO', display_name: 'ACTIVO' },
  { key: 'INACTIVO', display_name: 'INACTIVO' },
];
const jornada = [
  { key: 'MATUTINO', display_name: 'MATUTINO' }, //  { key: 'VESPERTINO', display_name: 'VESPERTINO' },
];

// arr to obj ,such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = estado.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name;
  return acc;
}, {});

export default {
  name: 'ComplexTable',
  components: { Pagination },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger',
      };
      return statusMap[status];
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type];
    },
  },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id',
      },
      importanceOptions: [1, 2, 3],
      estado,
      sortOptions: [
        { label: 'ID Ascendente', key: '+id' },
        { label: 'ID Decendente', key: '-id' },
      ],
      statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: false,
      temp: {
        jornada: '',
        estado: '',
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create',
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [
          { required: true, message: 'type is required', trigger: 'change' },
        ],
        timestamp: [
          {
            type: 'date',
            required: true,
            message: 'timestamp is required',
            trigger: 'change',
          },
        ],
        title: [
          { required: true, message: 'title is required', trigger: 'blur' },
        ],
        periodo_letra: [
          { required: true, message: 'El campo es requerido', trigger: 'blur' },
        ],
        jornada: [
          { required: true, message: 'El campo es requerido', trigger: 'blur' },
        ],
      },
      downloadLoading: false,
      jornada,
      fullscreenLoading: false,
    };
  },
  created() {
    this.getList();
  },
  methods: {
    generarTest(row, tipo){
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)',
      });
      generarTest([row, tipo]).then(response => {
        loading.close();
        this.$notify({
          title: 'Success',
          message: 'Se generaron los test ' + tipo,
          type: 'success',
          duration: 2000,
          position: 'bottom-right',
        });
      });
    },
    async getList() {
      this.listLoading = true;
      const { data } = await fetchListPeriodo();
      this.list = data.items;
      this.total = data.total;

      // Just to simulate the time of the request
      this.listLoading = false;
    },
    handleFilter() {
      this.listQuery.page = 1;
      this.getList();
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: 'Successful operation',
        type: 'success',
      });
      row.status = status;
    },
    sortChange(data) {
      const { prop, order } = data;
      if (prop === 'id') {
        this.sortByID(order);
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id';
      } else {
        this.listQuery.sort = '-id';
      }
      this.handleFilter();
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'published',
        type: '',
      };
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = 'create';
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate();
      });
    },
    createData() {
      this.$refs['dataForm'].validate(valid => {
        if (valid) {
          createPeriodo(this.temp).then(response => {
            this.temp.id = response.id;
            this.temp.estado = 'ACTIVO';
            this.temp.status = '';
            this.list.unshift(this.temp);
            this.dialogFormVisible = false;
            this.$notify({
              title: 'Success',
              message: 'Created successfully',
              type: 'success',
              duration: 2000,
            });
          });
        }
      });
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row); // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp);
      this.dialogStatus = 'update';
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate();
      });
    },
    updateData() {
      this.$refs['dataForm'].validate(valid => {
        if (valid) {
          const tempData = Object.assign({}, this.temp);
          tempData.timestamp = +new Date(tempData.timestamp); // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updatePeriodo(tempData).then(() => {
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v);
                this.list.splice(index, 1, this.temp);
                break;
              }
            }
            this.dialogFormVisible = false;
            this.$notify({
              title: 'Success',
              message: 'Updated successfully',
              type: 'success',
              duration: 2000,
            });
          });
        }
      });
    },
    handleDelete(row) {
      this.$notify({
        title: 'Success',
        message: 'Deleted successfully',
        type: 'success',
        duration: 2000,
      });
      const index = this.list.indexOf(row);
      this.list.splice(index, 1);
    },
    handleFetchPv(pv) {
      /* this.openFullScreen1(); */
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)',
      });
      alumnosPeriodo(pv)
        .then(response => {
          this.pvData = response;
          this.dialogPvVisible = true;
          loading.close();
        })
        .catch(function(e) {
          loading.close(); // "oh, no!"
        });
    },
    generarEntrevista(pv) {
      /* this.openFullScreen1(); */
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)',
      });
      generarEntrevista(pv)
        .then(response => {
          /* this.pvData = response;
          this.dialogPvVisible = true; */
          this.$notify({
            title: 'Success',
            message: response.mensaje,
            type: 'success',
            position: 'bottom-right',
            duration: 5000,
          });
          console.log(response.mensaje);
          loading.close();
        })
        .catch(function(e) {
          loading.close(); // "oh, no!"
        });
    },
    openFullScreen1() {
      console.log('acaaa');
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)',
      });
      setTimeout(() => {
        loading.close();
      }, 7000);
    },
    handleDownload() {
      this.downloadLoading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['timestamp', 'title', 'type', 'importance', 'status'];
        const filterVal = [
          'timestamp',
          'title',
          'type',
          'importance',
          'status',
        ];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'table-list',
        });
        this.downloadLoading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v =>
        filterVal.map(j => {
          if (j === 'timestamp') {
            return parseTime(v[j]);
          } else {
            return v[j];
          }
        })
      );
    },
  },
};
</script>
