<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="listQuery.name"
        :placeholder="'Alumno'"
        style="width: 200px;"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-select
        v-model="listQuery.sort"
        style="width: 140px"
        class="filter-item"
        @change="handleFilter"
      >
        <el-option
          v-for="item in sortOptions"
          :key="item.key"
          :label="item.label"
          :value="item.key"
        />
      </el-select>
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >{{ $t('table.search') }}</el-button>
    </div>

    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column
        :label="$t('table.id')"
        sortable
        align="center"
        width="80"
        type="index"
      >
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Periodo'" sortable>
        <template slot-scope="{row}">
          <span>{{ row.periodo.periodo_letra }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Paralelo'" prop="alumno.paralelo" sortable>
        <template slot-scope="{row}">
          <span>{{ row.alumno.paralelo }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Alumno'" prop="alumno.primer_apellido" sortable>
        <template slot-scope="{row}">
          <span>{{ row.alumno.primer_apellido }} {{ row.alumno.segundo_apellido }} {{ row.alumno.primer_nombre }} {{ row.alumno.segundo_nombre }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Estado'" class-name="status-col">
        <template slot-scope="{row}">
          <el-tag :type="row.status | statusFilter">{{ row.estado }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        :label="$t('table.actions')"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="{row}">
          <!-- <div v-if="row.fecha_inicial_agendada">
            <el-button disabled type="primary" size="small" @click="handleUpdate(row)">Agendar</el-button>
            <el-button type="success" size="small" @click="getAllCarreras(row.alumno.id, row)">Entrevista</el-button>
          </div>
          <div v-else>
            <el-button type="primary" size="small" @click="handleUpdate(row)">Agendar</el-button>
            <el-button disabled type="success" size="small" @click="getAllCarreras(row.alumno.id, row)">Entrevista</el-button>
          </div> -->
          <el-button :disabled="row.estado=='SIN PRUEBAS' || row.estado=='ENTREVISTADO'" type="primary" size="small" @click="handleUpdate(row)">Agendar</el-button>
          <el-button :disabled="row.estado=='SIN PRUEBAS' || row.estado=='NO AGENDADO'" type="success" size="small" @click="getAllCarreras(row.alumno.id, row)">Entrevista</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="getList"
    />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible" width="50%">
      <el-form
        ref="dataForm"
        :rules="rules"
        :model="temp"
        label-position="left"
      >
        <el-form-item v-if="dialogStatus==='create'" :label="'Periodo'" prop="periodo_letra">
          <el-input v-model="temp.periodo_letra" />
        </el-form-item>
        <el-form-item v-if="dialogStatus==='create'" :label="'Joranada'" prop="jornada">
          <el-select v-model="temp.jornada" class="filter-item" placeholder="Please select">
            <el-option
              v-for="item in jornada"
              :key="item.key"
              :label="item.display_name"
              :value="item.key"
            />
          </el-select>
        </el-form-item>
        <el-form-item v-if="dialogStatus==='update'" :label="'Fecha'" prop="estado">
          <!-- <el-select v-model="temp.estado" class="filter-item" placeholder="Please select">
            <el-option
              v-for="item in estado"
              :key="item.key"
              :label="item.display_name"
              :value="item.key"
            />
          </el-select>-->
          <full-calendar
            ref="calendar"
            :header="{ left:'', center: 'title',right: 'month,agendaWeek,agendaDay'}"
            :events="events"
            :config="config"
            @event-selected="myEventSelected"
            @event-created="myEventCreated"
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">{{ $t('table.cancel') }}</el-button>
        <el-button
          type="primary"
          @click="dialogStatus==='create'?createData():updateData()"
        >{{ $t('table.confirm') }}</el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogPvVisible" title="Alumnos">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%" height="500">
        <el-table-column prop="cod_alumno" label="Codigo Alumno" />
        <el-table-column prop="email" label="Email" />
        <el-table-column prop="primer_nombre" label="Nombre" />
        <el-table-column prop="primer_apellido" label="Apellido" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">{{ $t('table.confirm') }}</el-button>
      </span>
    </el-dialog>
    <el-dialog :visible.sync="modalerrorfecha" title="Error Fecha de agendamiento" width="30%">
      <el-row>
        <el-col :offset="6" :span="12">
          <div class="grid-content">
            <h4>La fecha seleccionada se encuentra ocupada</h4>
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="modalerrorfecha = false">{{ $t('table.confirm') }}</el-button>
      </span>
    </el-dialog>
    <!-- <el-dialog :visible.sync="hacer_entrevista" title="Agendar Entrevista" width="30%" :close-on-click-modal="false">
      <el-row>
        <el-col :offset="4" :span="20">
          <div class="grid-content">
            <h4>¿Está seguro que desea guardar la entrevista?</h4>
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button
          type="primary"
          @click="hacer_entrevista = false"
        >{{ $t('table.confirm') }}</el-button>
      </span>
    </el-dialog> -->
    <el-dialog title="Entrevista" :visible.sync="hacer_entrevista" :before-close="handleClose" top="5vh" width="85%">
      <el-row>
        <el-col :span="11">
          <div class="grid-content">
            <el-table height="250" :data="tabla_cipsa" border fit highlight-current-row style="width: 100%">
              <el-table-column prop="carrera" label="Carreras PEARSON" />
            </el-table>
          </div>
        </el-col>
        <el-col :offset="1" :span="11">
          <div class="grid-content">
            <el-table height="250" :data="tabla_pearson" border fit highlight-current-row style="width: 100%">
              <el-table-column prop="carrera" label="Carreras CIPSA" />
            </el-table>
          </div>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <div class="grid-content">
            <br><br>
            Observación
            <el-input v-model="detalle_entrevista.observacion" type="textarea" :autosize="{ minRows: 5, maxRows: 6}" placeholder="Ingrese observación" />
          </div>
        </el-col>
        <el-col :offset="1" :span="11">
          <div class="grid-content">
            <br><br>
            Selección de carrera
            <el-input v-model="detalle_entrevista.carrera_seleccionada" type="input" placeholder="Ingrese carrera seleccionada" />
            <br><br>
            Universidad
            <el-input v-model="detalle_entrevista.universidad" type="input" placeholder="Ingrese universidad" />
          </div>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="hacer_entrevista = false">Cancel</el-button>
        <el-button :disabled="detalle_entrevista.estado =='ENTREVISTADO'" type="primary" @click="guardar_entrevista">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
/* import { alumnosPeriodo } from '@/api/article'; */
import {
  fetchListPeriodo,
  createPeriodo,
  updatePeriodo,
} from '@/api/periodo';
import {
  getEntrevistas,
  getFiltroEntrevista,
  saveEvent,
  saveEntrevista,
  getEntrevistaCalendar,
} from '@/api/entrevista';
import waves from '@/directive/waves'; // Waves directive
import { parseTime } from '@/utils';
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import { FullCalendar } from 'vue-full-calendar';
import { getAllCarreras } from '@/api/estudiante';

const estado = [
  { key: 'ACTIVO', display_name: 'ACTIVO' },
  { key: 'INACTIVO', display_name: 'INACTIVO' },
];
const jornada = [
  { key: 'MATUTINO', display_name: 'MATUTINO' }, //  { key: 'VESPERTINO', display_name: 'VESPERTINO' },
];

// arr to obj ,such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = estado.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name;
  return acc;
}, {});

export default {
  name: 'ComplexTable',
  components: { Pagination, FullCalendar },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger',
      };
      return statusMap[status];
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type];
    },
  },
  data() {
    return {
      events: [],
      config: {
        allDaySlot: false,
        slotDuration: '00:10:00',
        minTime: '07:00:00',
        maxTime: '15:30:00',
        columnFormat: 'dddd',
        titleFormat: 'dddd, MMMM D, YYYY',
        eventLimit: true,
        eventOverlap: false,
        eventColor: '#458CC7',
        firstDay: 1,
        height: '2px',
        selectHelper: true,
        selectable: true,
        editable: false,
        timezone: 'local',
        header: {
          left: '',
          center: 'title',
          right: 'month,agendaWeek,agendaDay',
        },
      },
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        estado: undefined,
        sort: 'Todos',
        name: '',
      },
      importanceOptions: [1, 2, 3],
      estado,
      sortOptions: [
        { label: 'Todos', key: 'Todos' },
        { label: 'SIN PRUEBAS', key: 'SIN PRUEBAS' },
        { label: 'NO AGENDADO', key: 'NO AGENDADO' },
        { label: 'AGENDADO', key: 'AGENDADO' },
        { label: 'ENTREVISTADO', key: 'ENTREVISTADO' },
        { label: 'NO ENTREVISTADO', key: 'NO ENTREVISTADO' },
      ],
      statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: false,
      temp: {
        jornada: '',
        estado: '',
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Agendar',
        create: 'Create',
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [
          { required: true, message: 'type is required', trigger: 'change' },
        ],
        timestamp: [
          {
            type: 'date',
            required: true,
            message: 'timestamp is required',
            trigger: 'change',
          },
        ],
        title: [
          { required: true, message: 'title is required', trigger: 'blur' },
        ],
        periodo_letra: [
          { required: true, message: 'El campo es requerido', trigger: 'blur' },
        ],
        jornada: [
          { required: true, message: 'El campo es requerido', trigger: 'blur' },
        ],
      },
      downloadLoading: false,
      jornada,
      fullscreenLoading: false,
      modalerrorfecha: false,
      hacer_entrevista: false,
      ultimo_alumno: {},
      tabla_cipsa: [],
      tabla_pearson: [],
      detalle_entrevista: {
        observacion: '',
        carrera_seleccionada: '',
        universidad: '',
      },
      bandera_guardar_entrevista: '',
    };
  },
  created() {
    this.getList();
    this.getFiltroEntrevista();
    this.getListEntrevista();
    this.getListEntrevistaCalendar();
  },
  methods: {
    guardar_entrevista(){
      this.$confirm(
        '¿Está seguro que desea guardar la entrevista?',
        'Confirmar',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancelar',
          type: 'info',
        }
      )
        .then(() => {
          saveEntrevista(this.detalle_entrevista).then((response) => {
            console.log(response);
            this.getListEntrevista();
          });
          this.$message({
            type: 'success',
            message: 'Se guardo con éxito',
          });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Se cancelo',
          });
        });
      this.hacer_entrevista = false;
    },
    getAllCarreras(pv, row) {
      this.bandera_guardar_entrevista = row.observacion;
      this.detalle_entrevista = {
        id_user: row.alumno.id_user,
        id_entrevista: row.id,
        observacion: row.observacion,
        carrera_seleccionada: row.carrera_seleccionada,
        universidad: row.universidad,
        estado: row.estado,
      };
      console.log(row, '------------------');
      this.hacer_entrevista = true;
      getAllCarreras(pv).then(response => {
        this.tabla_cipsa = response.cipsa;
        this.tabla_pearson = response.pearson;
        console.log(this.tabla_pearson);
        this.hacer_entrevista = true;
      });
    },
    handleClose(done) {
      this.$confirm('Desea salir de la entrevista?')
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
    myEventSelected(event, jsEvent, view) {
      this.modalerrorfecha = true;
    },
    async myEventCreated(event) {
      console.log(this.ultimo_alumno.fecha_inicial_agendada, 'creandoooo');
      if (this.ultimo_alumno.fecha_inicial_agendada == null) {
        this.$confirm(
          '¿Está seguro que desea guardar la entrevista?',
          'Confirmar',
          {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancelar',
            type: 'info',
          }
        )
          .then(() => {
            console.log('evento creado', event.start);
            var res;
            var data = {
              fecha_inicio: event.start.format('YYYY-MM-DD HH:mm:ss'),
              fecha_fin: event.end.format('YYYY-MM-DD HH:mm:ss'),
              id_entrevista: this.ultimo_alumno.id,
            };
            saveEvent(data).then((response) => {
              console.log(res);
              this.getListEntrevista();
              this.dialogFormVisible = false;
            });
            this.$message({
              type: 'success',
              message: 'Se guardo con éxito',
            });
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: 'Se cancelo',
            });
          });
      } else {
        this.$confirm(
          '¿Está seguro que desea actualizar la fecha de la entrevista?',
          'Confirmar',
          {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancelar',
            type: 'info',
          }
        )
          .then(() => {
            console.log('evento creado', event.start);
            var res;
            var data = {
              fecha_inicio: event.start.format('YYYY-MM-DD HH:mm:ss'),
              fecha_fin: event.end.format('YYYY-MM-DD HH:mm:ss'),
              id_entrevista: this.ultimo_alumno.id,
            };
            saveEvent(data).then((response) => {
              console.log(res);
              this.getListEntrevista();
              this.dialogFormVisible = false;
            });
            this.$message({
              type: 'success',
              message: 'Se guardo con éxito',
            });
          })
          .catch(() => {
            this.dialogFormVisible = false;
            this.$message({
              type: 'info',
              message: 'Se cancelo',
            });
          });
      }
    },
    async getList() {
      this.listLoading = true;
      const { data } = await fetchListPeriodo();
      console.log(data);
      /* this.list = data.items;
      this.total = data.total; */

      // Just to simulate the time of the request
      this.listLoading = false;
    },
    async getFiltroEntrevista() {
      this.listLoading = true;
      const { data } = await getFiltroEntrevista(this.listQuery);
      console.log(data);
      this.list = data.items;
      this.total = data.total;

      // Just to simulate the time of the request
      this.listLoading = false;
    },
    async getListEntrevista() {
      /* this.listLoading = true; */
      const { data } = await getEntrevistas();
      console.log(data);
      this.list = data.items;
      this.total = data.total;

      // Just to simulate the time of the request
      this.listLoading = false;
    },
    async getListEntrevistaCalendar() {
      this.listLoading = true;
      const { data } = await getEntrevistaCalendar();
      console.log('data');
      this.events = [];
      this.events = data.items;
      console.log(this.events);
      // Just to simulate the time of the request
      this.listLoading = false;
    },
    handleFilter() {
      this.listQuery.page = 1;
      this.getFiltroEntrevista();
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: 'Successful operation',
        type: 'success',
      });
      row.status = status;
    },
    sortChange(data) {
      const { prop, order } = data;
      if (prop === 'id') {
        this.sortByID(order);
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id';
      } else {
        this.listQuery.sort = '-id';
      }
      this.handleFilter();
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'published',
        type: '',
      };
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = 'create';
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate();
      });
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          createPeriodo(this.temp).then((response) => {
            this.temp.id = response.id;
            this.temp.estado = 'ACTIVO';
            this.temp.status = '';
            this.list.unshift(this.temp);
            this.dialogFormVisible = false;
            this.$notify({
              title: 'Success',
              message: 'Created successfully',
              type: 'success',
              duration: 2000,
            });
          });
        }
      });
    },
    handleUpdate(row) {
      this.getListEntrevistaCalendar();
      this.temp = Object.assign({}, row); // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp);
      this.dialogStatus = 'update';
      this.dialogFormVisible = true;
      console.log(row, 'updateeee');
      this.ultimo_alumno = row;
      /* this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate();
      }); */
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp);
          tempData.timestamp = +new Date(tempData.timestamp); // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updatePeriodo(tempData).then(() => {
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v);
                this.list.splice(index, 1, this.temp);
                break;
              }
            }
            this.dialogFormVisible = false;
            this.$notify({
              title: 'Success',
              message: 'Updated successfully',
              type: 'success',
              duration: 2000,
            });
          });
        }
      });
    },
    handleDelete(row) {
      this.$notify({
        title: 'Success',
        message: 'Deleted successfully',
        type: 'success',
        duration: 2000,
      });
      const index = this.list.indexOf(row);
      this.list.splice(index, 1);
    },
    handleFetchPv(pv) {
      this.hacer_entrevista = true;
      /* alumnosPeriodo(pv)
        .then((response) => {
          this.pvData = response;
          this.dialogPvVisible = true;
          loading.close();
        })
        .catch(function(e) {
          loading.close(); // "oh, no!"
        }); */
    },
    openFullScreen1() {
      console.log('acaaa');
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)',
      });
      setTimeout(() => {
        loading.close();
      }, 7000);
    },
    handleDownload() {
      this.downloadLoading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['timestamp', 'title', 'type', 'importance', 'status'];
        const filterVal = [
          'timestamp',
          'title',
          'type',
          'importance',
          'status',
        ];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'table-list',
        });
        this.downloadLoading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) =>
        filterVal.map((j) => {
          if (j === 'timestamp') {
            return parseTime(v[j]);
          } else {
            return v[j];
          }
        })
      );
    },
  },
};
</script>
