<template>
  <div class="mixin-components-container">
    <div class="filter-container">
      <el-input
        v-model="listQuery.title"
        :placeholder="$t('table.periodo')"
        style="width: 200px;"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >{{ $t('table.search') }}</el-button>
      <el-button v-waves :loading="downloading" class="filter-item" type="primary" icon="el-icon-download" @click="handleDownload">
        {{ $t('table.export') }}
      </el-button>
    </div>
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list_data"
      fit
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
    >
      <el-table-column :label="'Periodo'" min-width="100%">
        <template slot-scope="{row}">
          <span>{{ row.periodo }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Codigo estudiante'" min-width="100%">
        <template slot-scope="{row}">
          <span>{{ row.codigo_estudiante }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Estudiante'" min-width="350px">
        <template slot-scope="{row}">
          <span>{{ row.apeliidos_nombres }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Cipsa'" min-width="100%">
        <template slot-scope="{row}">
          <span class="link-type" @click="getCarreras(row.cipsa)">{{ row.cipsa }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Pearson'" min-width="100%">
        <template slot-scope="{row}">
          <span class="link-type" @click="getCarreras(row.pearson)">{{ row.pearson }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Observaciones'" min-width="100%">
        <template slot-scope="{row}">
          <span>{{ row.observaciones }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Fecha entrevista'" min-width="100%">
        <template slot-scope="{row}">
          <span>{{ row.fecha_entrevista }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Seleccion de carrera'" min-width="100%">
        <template slot-scope="{row}">
          <span>{{ row.seleccion_carrera }}</span>
        </template>
      </el-table-column>
      <el-table-column :label="'Universidad'" min-width="100%">
        <template slot-scope="{row}">
          <span>{{ row.universdad }}</span>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog :visible.sync="dialogPvVisible" title="Carreras Recomendadas">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="carrera" label="Carreras" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">{{ $t('table.confirm') }}</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { getListaEstudiantes, getCarrera } from '@/api/estudiante';
export default {
  data() {
    return {
      tableKey: 0,
      list_data: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id',
      },
      sortOptions: [
        { label: 'ID Ascendente', key: '+id' },
        { label: 'ID Decendente', key: '-id' },
      ],
      dialogPvVisible: false,
      pvData: [],
    };
  },
  created() {
    this.getList();
  },
  methods: {
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['Periodo', 'Codigo estuadiante', 'Cipsa', 'Pearson', 'Observaciones', 'Fecha entrevista', 'Seleccion de carrera', 'universdad'];
        const filterVal = ['periodo', 'codigo_estudiante', 'cipsa', 'pearson', 'observaciones', 'fecha_entrevista', 'seleccion_carrera', 'universdad'];
        console.log(this.list_data);
        const data = this.formatJson(filterVal, this.list_data);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'Matriz entrevista',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    getCarreras(pv) {
      console.log('---');
      this.dialogPvVisible = true;
      getCarrera(pv).then(response => {
        this.pvData = response;
        this.dialogPvVisible = true;
      });
    },
    handleCreate() {
      this.resetTemp();
      this.dialogStatus = 'create';
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate();
      });
    },
    async getList() {
      this.listLoading = true;
      const { data } = await getListaEstudiantes();
      this.list_data = data.items;
      this.total = data.total;

      // Just to simulate the time of the request
      this.listLoading = false;
    },
  },
};
</script>
<style scoped>
.mixin-components-container {
  background-color: #f0f2f5;
  padding: 30px;
  min-height: calc(100vh - 84px);
}
.component-item{
  min-height: 100px;
}
</style>
