<template>
  <div>
    <template>
      <el-row :gutter="20" justify="center">
        <div v-for="item in tableData" :key="item.id">
          <el-col :span="12">
            <el-table :data="item" height="100%">
              <el-table-column prop="profesion" label="PROFESIONES" />
              <el-table-column label="VALORACIÓN">
                <el-table-column prop="personal" label="Personal">
                  <template slot-scope="scope">
                    <el-radio v-model="scope.row.personal" label="D">D</el-radio>
                    <el-radio v-model="scope.row.personal" label="I">I</el-radio>
                    <el-radio v-model="scope.row.personal" label="R">R</el-radio>
                    <el-radio v-model="scope.row.personal" label="E">E</el-radio>
                  </template>
                </el-table-column>
                <el-table-column prop="social" label="Social">
                  <template slot-scope="scope">
                    <el-radio v-model="scope.row.social" label="1">1</el-radio>
                    <el-radio v-model="scope.row.social" label="2">2</el-radio>
                    <el-radio v-model="scope.row.social" label="3">3</el-radio>
                    <el-radio v-model="scope.row.social" label="4">4</el-radio>
                  </template>
                </el-table-column>
                <el-table-column prop="economico" label="Económica">
                  <template slot-scope="scope">
                    <el-radio v-model="scope.row.economico" label="1">1</el-radio>
                    <el-radio v-model="scope.row.economico" label="2">2</el-radio>
                    <el-radio v-model="scope.row.economico" label="3">3</el-radio>
                    <el-radio v-model="scope.row.economico" label="4">4</el-radio>
                  </template>
                </el-table-column>
              </el-table-column>
            </el-table>
          </el-col>
        </div>
      </el-row>
    </template>
  </div>
</template>
<script>
import { getPreguntas } from '@/api/cipsa';

export default {
  props: {
    seccion: { default: 1, type: Number },
    eventofinal: { default: 0, type: Number },
  },
  data() {
    return {
      tableData: [],
      alldata: [],
      radio: 'D',
    };
  },
  watch: {
    eventofinal() {
      if (this.eventofinal === 1 && this.seccion === 1) {
        return this.$emit('obtetorespuesta1', this.tableData);
      }
      if (this.eventofinal === 2 && this.seccion === 2) {
        return this.$emit('obtetorespuesta2', this.tableData);
      }
      if (this.eventofinal === 3 && this.seccion === 3) {
        return this.$emit('obtetorespuesta3', this.tableData);
      }
    },
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      var preguntas = {};
      try {
        preguntas = await getPreguntas({});
      } catch (error) {
        console.log(error);
      }
      if (this.seccion === 1) {
        this.tableData = {
          area1: preguntas.area1,
          area2: preguntas.area2,
          area3: preguntas.area3,
          area4: preguntas.area4,
        };
      }
      if (this.seccion === 2) {
        this.tableData = {
          area5: preguntas.area5,
          area6: preguntas.area6,
          area7: preguntas.area7,
          area8: preguntas.area8,
        };
      }
      if (this.seccion === 3) {
        this.tableData = {
          area9: preguntas.area9,
          area10: preguntas.area10,
          area11: preguntas.area11,
          area12: preguntas.area12,
        };
      }
      this.alldata = preguntas;
    },
  },
};
</script>
