<template>
  <div>
    <div class="mixin-components-container">
      <el-row>
        <el-card class="box-card">
          <div slot="header" class="clearfix">
            <span>Test de Personalidad de Pearson</span>
          </div>
          <div style="margin-bottom:50px;">
            <form-wizard
              shape="tab"
              color="#005699"
              next-button-text="Siguiente"
              finish-button-text="Enviar"
              back-button-text="Atras"
              title="Test Pearson"
              subtitle
              @on-complete="onComplete"
            >
              <tab-content
                title="Sección A"
                icon="el-icon-document"
                :before-change="beforeTabSwitch"
              >
                <el-table :data="seccion_a" border style="width: 70%;margin: auto;padding: 10px;">
                  <el-table-column prop="pregunta" label="Pregunta" width="620" />
                  <el-table-column label="Dirección" width="200">
                    <template slot-scope="scope">
                      <el-radio v-model="scope.row.valor" label="1">1</el-radio>
                      <el-radio v-model="scope.row.valor" label="2">2</el-radio>
                      <el-radio v-model="scope.row.valor" label="3">3</el-radio>
                    </template>
                  </el-table-column>
                </el-table>
              </tab-content>
              <tab-content title="Sección B" icon="el-icon-document">
                <el-table :data="seccion_b" border style="width: 80%;margin: auto;padding: 10px;">
                  <el-table-column prop="pregunta" label="Pregunta" width="620" />
                  <el-table-column label="Dirección" width="200">
                    <template slot-scope="scope">
                      <el-radio v-model="scope.row.valor" label="1">1</el-radio>
                      <el-radio v-model="scope.row.valor" label="2">2</el-radio>
                      <el-radio v-model="scope.row.valor" label="3">3</el-radio>
                    </template>
                  </el-table-column>
                </el-table>
              </tab-content>
              <tab-content title="Sección C" icon="el-icon-document">
                <el-table :data="seccion_c" border style="width: 80%;margin: auto;padding: 10px;">
                  <el-table-column prop="pregunta" label="Pregunta" width="620" />
                  <el-table-column label="Dirección" width="200">
                    <template slot-scope="scope">
                      <el-radio v-model="scope.row.valor" label="1">1</el-radio>
                      <el-radio v-model="scope.row.valor" label="2">2</el-radio>
                      <el-radio v-model="scope.row.valor" label="3">3</el-radio>
                    </template>
                  </el-table-column>
                </el-table>
              </tab-content>
              <tab-content title="Sección D" icon="el-icon-document">
                <el-table :data="seccion_d" border style="width: 80%;margin: auto;padding: 10px;">
                  <el-table-column prop="pregunta" label="Pregunta" width="620" />
                  <el-table-column label="Dirección" width="200">
                    <template slot-scope="scope">
                      <el-radio v-model="scope.row.valor" label="1">1</el-radio>
                      <el-radio v-model="scope.row.valor" label="2">2</el-radio>
                      <el-radio v-model="scope.row.valor" label="3">3</el-radio>
                    </template>
                  </el-table-column>
                </el-table>
              </tab-content>
              <tab-content title="Sección E" icon="el-icon-document">
                <el-table :data="seccion_e" border style="width: 80%;margin: auto;padding: 10px;">
                  <el-table-column prop="pregunta" label="Pregunta" width="620" />
                  <el-table-column label="Dirección" width="200">
                    <template slot-scope="scope">
                      <el-radio v-model="scope.row.valor" label="1">1</el-radio>
                      <el-radio v-model="scope.row.valor" label="2">2</el-radio>
                      <el-radio v-model="scope.row.valor" label="3">3</el-radio>
                    </template>
                  </el-table-column>
                </el-table>
              </tab-content>
              <tab-content title="Finalizar" icon="el-icon-check">
                <div class="demo-image__lazy">
                  <img :src="'/images/gracias.jpg'" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
                </div>
              </tab-content>
            </form-wizard>
          </div>
        </el-card>
      </el-row>
    </div>
  </div>
</template>

<script>
import { getPreguntasPearson, saveRespuestasPearson } from '@/api/pearson';
import { getTerminos } from '@/api/termino_condiciones';

export default {
  data() {
    return {
      preguntas_pearson: {},
      checkList: [],
      seccion_a: {},
      seccion_b: {},
      seccion_c: {},
      seccion_d: {},
      seccion_e: {},
      respuestaFinal: {},
    };
  },
  created() {
    this.getList();
    this.verificar_terminos();
  },
  methods: {
    async verificar_terminos() {
      var terminos = {};
      try {
        terminos = await getTerminos({});
      } catch (error) {
        console.log(error);
      }
      console.log(terminos);
      if (terminos.tipo === 2) {
        this.$swal({
          title: 'Terminos y condiciones',
          html: "<div style='max-width: 100ch;text-align: justify;font-size: 12px;'>1. Derechos de Propiedad. Entre usted y EcoSIP, EcoSIP es dueñoúnico y exclusivo, de todos los derechos, título eintereses en y del Sitio Web, de todo el contenido (incluyendo, por ejemplo, audio, fotografías, ilustraciones,gráficos, otros medios visuales, videos, copias, textos, software, títulos, archivos de Onda de choque, etc.),códigos,datos y materiales del mismo, el aspecto y el ambiente, el diseño y la organización del Sitio Web y lacompilación delos contenidos, códigos, datos y los materiales en el Sitio Web, incluyendo pero no limitado a, cualesquieraderechos deautor, derechos de marca, derechos de patente, derechos de base de datos, derechos morales, derechos sui generisy otraspropiedades intelectuales y derechos patrimoniales del mismo. Su uso del Sitio Web no le otorga propiedad deninguno delos contenidos, códigos, datos o materiales a los que pueda acceder en o a través del Sitio Web. <br><br>2. Licencia Limitada. Usted puede acceder y ver el contenido del Sitio Web desde su computadora o desdecualquier otroaparato y, a menos de que se indique de otra manera en estos Términos y Condiciones o en el Sitio Web, sacarcopias oimpresiones individuales del contenido del Sitio Web para su uso personal, interno únicamente. El uso del SitioWeb y delos servicios que se ofrecen en o a través del Sitio Web, son sólo para su uso personal, no comercial. <br><br>3. Uso Prohibido. Cualquier distribución, publicación o explotación comercial o promocional del Sitio Web, o decualquiera de los contenidos, códigos, datos o materiales en el Sitio Web, está estrictamente prohibida, a menosde queusted haya recibido el previo permiso expreso por escrito del personal autorizado de EcoSip o de algún otroposeedor dederechos aplicable. A no ser como está expresamente permitido en el presente contrato, usted no puede descargar,informar, exponer, publicar, copiar, reproducir, distribuir, transmitir, modificar, ejecutar, difundir,transferir,crear trabajos derivados de, vender o de cualquier otra manera explotar cualquiera de los contenidos, códigos,datos omateriales en o disponibles a través del Sitio Web. Usted se obliga además a no alterar, editar, borrar, quitar,o deotra manera cambiar el significado o la apariencia de, o cambiar el propósito de, cualquiera de los contenidos,códigos,datos o materiales en o disponibles a través del Sitio Web, incluyendo, sin limitación, la alteración o retirodecualquier marca comercial, marca registrada, logo, marca de servicios o cualquier otro contenido de propiedad onotificación de derechos de propiedad. Usted reconoce que no adquiere ningún derecho de propiedad al descargaralgúnmaterial con derechos de autor de o a través del Sitio Web. Si usted hace otro uso del Sitio Web, o de loscontenidos,códigos, datos o materiales que ahí se encuentren o que estén disponibles a través del Sitio Web, a no ser comose haestipulado anteriormente, usted puede violar las leyes de derechos de autor y otras leyes de Ecuador y de otrospaíses,así como las leyes estatales aplicables, y puede ser sujeto a responsabilidad legal por dicho uso no autorizado.<br><br>4. Información del Usuario. En el curso del uso que usted haga del Sitio Web y/o de los servicios puestos a sudisposición en o a través del Sitio Web, se le puede pedir que nos proporcione cierta información personalizada(dichainformación en lo sucesivo 'Información del Usuario').</div>",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Acepto',
          allowOutsideClick: false,
          cancelButtonText: 'Cancelar',
          width: 700,
        }).then((result) => {
          if (result.value) {
            this.$swal.fire(
              'Realizar test',
              'Tache con una X un numero: 3 cuando el comportamiento que lee se da con usted con mucha (o muchísima) intensidad; el numero 2 cuando el comportamiento leído se da con un usted con mediana intensidad (más o menos); y el numero 1 si el comportamiento que lee se da en usted poco o muy poco.'
            );
          } else {
            this.$router.push({ path: '/dashboard' });
          }
        });
      }
      if (terminos.tipo === 1) {
        this.$swal.fire({
          title: 'Test registrado',
          text: 'Usted posee un test registrado consulte los resultados con DECE',
          imageUrl: 'https://unsplash.it/400/200',
          imageWidth: 400,
          imageHeight: 200,
          imageAlt: 'Custom image',
          allowOutsideClick: false,
        }).then((result) => {
          if (result.value) {
            this.$router.push({ path: '/dashboard' });
          }
        });
      }
    },
    onComplete: async function() {
      this.respuestaFinal = {
        secciones: {
          seccion_a: this.seccion_a,
          seccion_b: this.seccion_b,
          seccion_c: this.seccion_c,
          seccion_d: this.seccion_d,
          seccion_e: this.seccion_e,
        },
      };
      var res = 0;
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)',
      });
      try {
        res = await saveRespuestasPearson(this.respuestaFinal);
      } catch (error) {
        console.log(error);
      }
      loading.close();
      console.log(res);
      this.$notify({
        title: 'Éxito',
        message: res.contenido,
        position: 'bottom-right',
        type: 'success',
      });
    },
    async getList() {
      var preguntas = {};
      try {
        preguntas = await getPreguntasPearson({});
      } catch (error) {
        console.log(error);
      }
      console.log(preguntas[0].seccion_a);
      this.preguntas_pearson = preguntas;
      this.seccion_a = preguntas[0].seccion_a;

      console.log(this.seccion_a);
      this.seccion_b = preguntas[0].seccion_b;
      this.seccion_c = preguntas[0].seccion_c;
      this.seccion_d = preguntas[0].seccion_d;
      this.seccion_e = preguntas[0].seccion_e;
    },
    beforeTabSwitch() {
      console.log(this.seccion_a);
      return true;
    },
  },
};
</script>

<style scoped>
.mixin-components-container {
  background-color: #f0f2f5;
  padding: 30px;
  min-height: calc(100vh - 84px);
}
.component-item {
  min-height: 100px;
}
</style>

