<template>
  <div class="app-container">
    <form-wizard
      :start-index.sync="stepIndex"
      shape="circle"
      title="Prueba CIPSA"
      subtitle
      color="#20a0ff"
      error-color="#ff4949"
      @on-complete="onComplete"
    >
      <tab-content title="Instrucciones" icon="el-icon-document" :before-change="validateAsync">
        <el-card class="box-card">
          <el-row>
            <el-col :span="24">
              <h1
                style="font-weight:bold;font-family: 'Helvetica Neue'; font-size: 24px;"
                align="center"
              >INSTRUCCIONES</h1>
            </el-col>
            <el-col :span="24">
              <p
                align="left"
                style="font-size: 18px;"
              >En este cuestionario te pedimos que indiques tus gustos y preferencias profesionales. En las páginas siguientes encontrarás listados con diversas ocupaciones expresadas en su forma masculina como genérico. Ante cada ocupación o profesión tendras que hacer lo siguiente:</p>
            </el-col>
            <el-col :span="24">
              <p>1- Señalar si conoces o desconoces esa profesión</p>
              <span>
                <ul>
                  <li>
                    Cuando no conozcas
                    <span style="font-weight:bold;">rodearás la letra D</span> (de DESCONOCIDA) y pasaras a la siguiente profesión.
                  </li>
                  <li>Si no conoces la profesión tendras que tendras que atender al siguiente punto.</li>
                </ul>
              </span>
            </el-col>
            <el-col :span="24">
              <p>2- Cuando conozcas la profesión deberás:</p>
              <ul>
                <li>
                  Rodear la
                  <span style="font-weight:bold">letra I</span>
                  (de INDIFERENTE), si te resulta indiferente;
                </li>
                <li>
                  Rodear la
                  <span style="font-weight:bold">letra R</span>
                  (de RECHAZO), si la rechazas, porque no te gusta o no te interesa; y
                </li>
                <li>
                  Rodear la
                  <span style="font-weight:bold">letra E</span>
                  (de ELEGIDA), si te gusta y eliges esa profesion; en ese caso...
                </li>
              </ul>
            </el-col>
            <el-col :span="24">
              <p>
                3- Fijate en la columna
                <span style="font-weight:bold">SOCIAL</span> y rodea el número que mejor refleje tu jucio sobre esa profesión según la siguiente escala:
              </p>
            </el-col>
            <el-col :span="24">
              <el-table :data="tabla1" border style="width: 100%">
                <el-table-column prop="a" label="0" />
                <el-table-column prop="b" label="1" />
                <el-table-column prop="c" label="2" />
                <el-table-column prop="d" label="3" />
              </el-table>
            </el-col>
            <el-col :span="24">
              <p>
                4- Del mismo modo, en la columna
                <span style="font-weight:bold">ECONÓMICA</span> rodea uno de los números atendiendo a la cantidad de dinero que creas que directa o indirectamente, el ejercicio de essa actividad permite obtener.
              </p>
            </el-col>
          </el-row>
          <el-col :span="24">
            <el-table :data="tabla2" border style="width: 100%">
              <el-table-column prop="a" label="0" />
              <el-table-column prop="b" label="1" />
              <el-table-column prop="c" label="2" />
              <el-table-column prop="d" label="3" />
            </el-table>
          </el-col>
          <el-col :span="24">
            <p>A continuacion veremos unos ejemplos sobre la manera de contestar:</p>
          </el-col>
          <el-col :span="24">
            <el-table :data="tabla3" border style="width: 100%">
              <el-table-column prop="id" />
              <el-table-column label="VALORACIÓN" align="center">
                <el-table-column prop="a" label="Personal" />
                <el-table-column prop="b" label="Social" />
                <el-table-column prop="c" label="Economica" />
              </el-table-column>
            </el-table>
          </el-col>
          <el-col :span="24">
            <p>Si tienes alguna dificultad, haz ahora tus preguntas. No hay limitación de tiempo, pero intenta trabar deprisa y contestar siguiente el orde de presentación indicado por los numero romanos que aparecen en la parte superior de cada recuadro.</p>
          </el-col>
        </el-card>
      </tab-content>
      <tab-content title="Sección 1" icon="el-icon-edit-outline">
        <el-card class="box-card">
          <cipsa :seccion="1" :eventofinal="evento" @obtetorespuesta1="obtetorespuesta1" />
        </el-card>
      </tab-content>
      <tab-content title="Sección 2" icon="el-icon-edit-outline">
        <el-card class="box-card">
          <cipsa :seccion="2" :eventofinal="evento" @obtetorespuesta2="obtetorespuesta2" />
        </el-card>
      </tab-content>
      <tab-content title="Sección 3" icon="el-icon-edit-outline">
        <el-card class="box-card">
          <cipsa :seccion="3" :eventofinal="evento" @obtetorespuesta3="obtetorespuesta3" />
        </el-card>
      </tab-content>
      <tab-content title="Last step" icon="el-icon-check">
        <div class="demo-image__lazy">
          <img
            :src="'/images/gracias.jpg'"
            style="display: block;margin-left: auto;margin-right: auto;width: 50%;"
          >
        </div>
      </tab-content>

      <el-button slot="prev" type="primary">Back</el-button>
      <el-button slot="next" type="primary">Next</el-button>
      <el-button slot="finish" type="primary">Finish</el-button>
      <div v-if="loadingWizard" class="loader" />
      <div v-if="errorMsg">
        <span class="error">{{ errorMsg }}</span>
      </div>
    </form-wizard>
  </div>
</template>

<script>
import cipsa from './Cipsa';
import { saveRespuestas } from '@/api/cipsa';
import { getTerminos } from '@/api/termino_condiciones';

export default {
  name: 'Test1',
  components: {
    cipsa,
  },
  data() {
    return {
      opcionTab: 1,
      tabla1: [
        {
          a:
            'Si crees que esa profesion o actividad carece de prestigio o está MUY MAL CONSIDERADA',
          b:
            'Si crees que la valoracón social de esa profesión o actividad es MÁS BIEN BAJA',
          c:
            'Si crees que se trata de una actividad, en líneas generales, BIEN CONSIDERADA',
          d:
            'Si, a tu jucio, crees que el desarrollo de esa actividad supone un ALTO GRADO DE PRESTIGIO',
        },
      ],
      tabla2: [
        {
          a: 'NADA o MUY POCO.',
          b: 'POCO, insuficiente para cubrir las necesidades normales.',
          c:
            'BASTANTE, lo razonable para desenvolverse dignamente en su ambiente socia.',
          d: 'MUCHO, lo suficiente para vivir con holgura y "hacer dinero".',
        },
      ],
      tabla3: [
        {
          id: '1',
          a: 'D  I  R  (E)',
          b: '0  1  (2)  3',
          c: '0  1  2  (3)',
        },
        {
          id: '2',
          a: 'D  I  R  E',
          b: '0  1  2  3',
          c: '0  1  2  3',
        },
        {
          id: '3',
          a: 'D  I  R  E',
          b: '0  1  2  3',
          c: '0  1  2  3',
        },
      ],
      formInline: {
        user: '',
        region: '',
      },
      rules: {
        user: [
          {
            required: true,
            message: 'Please input Activity name',
            trigger: 'blur',
          },
          {
            min: 3,
            max: 5,
            message: 'Length should be 3 to 5',
            trigger: 'blur',
          },
        ],
        region: [
          {
            required: true,
            message: 'Please select Activity zone',
            trigger: 'change',
          },
        ],
        count: 0,
      },
      evento: 0,
      errorMsg: null,
      loadingWizard: false,
      stepIndex: 0,
      jsonfinal: {},
      jsonseccion1: {},
      jsonseccion2: {},
      jsonseccion3: {},
      respuesta: '',
    };
  },
  watch: {
    stepIndex() {
      this.evento = this.stepIndex - 1;
    },
  },
  mounted() {
    /* this.$swal('Hello Vue world!!!'); */
  },
  created() {
    this.verificar_terminos();
  },
  methods: {
    async verificar_terminos() {
      var terminos = {};
      try {
        terminos = await getTerminos({});
      } catch (error) {
        console.log(error);
      }
      console.log(terminos);
      if (terminos.tipo === 2) {
        this.$swal({
          title: 'Terminos y condiciones',
          html:
            "<div style='max-width: 100ch;text-align: justify;font-size: 12px;'>1. Derechos de Propiedad. Entre usted y EcoSIP, EcoSIP es dueñoúnico y exclusivo, de todos los derechos, título eintereses en y del Sitio Web, de todo el contenido (incluyendo, por ejemplo, audio, fotografías, ilustraciones,gráficos, otros medios visuales, videos, copias, textos, software, títulos, archivos de Onda de choque, etc.),códigos,datos y materiales del mismo, el aspecto y el ambiente, el diseño y la organización del Sitio Web y lacompilación delos contenidos, códigos, datos y los materiales en el Sitio Web, incluyendo pero no limitado a, cualesquieraderechos deautor, derechos de marca, derechos de patente, derechos de base de datos, derechos morales, derechos sui generisy otraspropiedades intelectuales y derechos patrimoniales del mismo. Su uso del Sitio Web no le otorga propiedad deninguno delos contenidos, códigos, datos o materiales a los que pueda acceder en o a través del Sitio Web. <br><br>2. Licencia Limitada. Usted puede acceder y ver el contenido del Sitio Web desde su computadora o desdecualquier otroaparato y, a menos de que se indique de otra manera en estos Términos y Condiciones o en el Sitio Web, sacarcopias oimpresiones individuales del contenido del Sitio Web para su uso personal, interno únicamente. El uso del SitioWeb y delos servicios que se ofrecen en o a través del Sitio Web, son sólo para su uso personal, no comercial. <br><br>3. Uso Prohibido. Cualquier distribución, publicación o explotación comercial o promocional del Sitio Web, o decualquiera de los contenidos, códigos, datos o materiales en el Sitio Web, está estrictamente prohibida, a menosde queusted haya recibido el previo permiso expreso por escrito del personal autorizado de EcoSip o de algún otroposeedor dederechos aplicable. A no ser como está expresamente permitido en el presente contrato, usted no puede descargar,informar, exponer, publicar, copiar, reproducir, distribuir, transmitir, modificar, ejecutar, difundir,transferir,crear trabajos derivados de, vender o de cualquier otra manera explotar cualquiera de los contenidos, códigos,datos omateriales en o disponibles a través del Sitio Web. Usted se obliga además a no alterar, editar, borrar, quitar,o deotra manera cambiar el significado o la apariencia de, o cambiar el propósito de, cualquiera de los contenidos,códigos,datos o materiales en o disponibles a través del Sitio Web, incluyendo, sin limitación, la alteración o retirodecualquier marca comercial, marca registrada, logo, marca de servicios o cualquier otro contenido de propiedad onotificación de derechos de propiedad. Usted reconoce que no adquiere ningún derecho de propiedad al descargaralgúnmaterial con derechos de autor de o a través del Sitio Web. Si usted hace otro uso del Sitio Web, o de loscontenidos,códigos, datos o materiales que ahí se encuentren o que estén disponibles a través del Sitio Web, a no ser comose haestipulado anteriormente, usted puede violar las leyes de derechos de autor y otras leyes de Ecuador y de otrospaíses,así como las leyes estatales aplicables, y puede ser sujeto a responsabilidad legal por dicho uso no autorizado.<br><br>4. Información del Usuario. En el curso del uso que usted haga del Sitio Web y/o de los servicios puestos a sudisposición en o a través del Sitio Web, se le puede pedir que nos proporcione cierta información personalizada(dichainformación en lo sucesivo 'Información del Usuario').</div>",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Acepto',
          allowOutsideClick: false,
          cancelButtonText: 'Cancelar',
          width: 700,
        }).then((result) => {
          if (result.value) {
            this.$swal.fire('Realizar test');
          } else {
            this.$router.push({ path: '/dashboard' });
          }
        });
      }
      if (terminos.tipo === 1) {
        this.$swal
          .fire({
            title: 'Test registrado',
            text:
              'Usted posee un test registrado consulte los resultados con DECE',
            imageUrl: 'https://unsplash.it/400/200',
            imageWidth: 400,
            imageHeight: 200,
            imageAlt: 'Custom image',
            allowOutsideClick: false,
          })
          .then((result) => {
            if (result.value) {
              this.$router.push({ path: '/dashboard' });
            }
          });
      }
    },
    cambiarPestaña(valor) {
      this.opcionTab = this.opcionTab + valor;
      return;
    },
    onComplete: async function() {
      var respuesta = 0;
      const loading = this.$loading({
        lock: true,
        text: 'Loading',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)',
      });
      try {
        respuesta = await saveRespuestas(this.jsonfinal, 1);
      } catch (error) {
        console.log(error);
        this.$notify({
          title: 'Error',
          message: respuesta.contenido,
          position: 'bottom-right',
          type: 'error',
        });
        this.$router.push({ path: '/dashboard' });
        return;
      }
      loading.close();
      this.$notify({
        title: 'Éxito',
        message: respuesta.contenido,
        position: 'bottom-right',
        type: 'success',
      });
      this.$router.push({ path: '/dashboard' });
      location.replace('/');
      window.location.reload();
    },
    validateFirstStep() {
      /* return new Promise((resolve, reject) => {
        this.$refs.ruleForm.validate(valid => {
          resolve(valid);
        });
      }); */
      return true;
    },
    validateAsync: function() {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          if (this.count < 1) {
            this.count++;
            reject(
              'This is a custom validation error message. Click next again to get rid of the validation'
            );
          } else {
            this.count = 0;
            resolve(true);
          }
        }, 1000);
      });
    },
    obtetorespuesta1(data) {
      this.jsonseccion1 = data;
      console.log(this.jsonseccion1);
    },
    obtetorespuesta2(data) {
      this.jsonseccion2 = data;
      console.log(this.jsonseccion2);
    },
    obtetorespuesta3(data) {
      this.jsonseccion3 = data;
      this.jsonfinal = {
        seccion1: this.jsonseccion1,
        seccion2: this.jsonseccion2,
        seccion3: this.jsonseccion3,
      };
    },
  },
};
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
.panel-group {
  margin-top: 18px;
  background: #40c9c6;
  opacity: 20%;
  .card-panel-col {
    margin-bottom: 32px;
  }
  .card-panel {
    height: 108px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);
    &:hover {
      .card-panel-icon-wrapper {
        color: #fff;
      }
      .icon-people {
        background: #40c9c6;
      }
      .icon-message {
        background: #36a3f7;
      }
      .icon-money {
        background: #f4516c;
      }
      .icon-shopping {
        background: #34bfa3;
      }
    }
    .icon-people {
      color: #40c9c6;
    }
    .icon-message {
      color: #36a3f7;
    }
    .icon-money {
      color: #f4516c;
    }
    .icon-shopping {
      color: #34bfa3;
    }
    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
    }
    .card-panel-icon {
      float: left;
      font-size: 48px;
    }
    .card-panel-description {
      float: right;
      font-weight: bold;
      margin: 26px;
      margin-left: 0px;
      .card-panel-text {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 16px;
        margin-bottom: 12px;
      }
      .card-panel-num {
        font-size: 20px;
      }
    }
  }
}
</style>
